
[Unit]
Description=Launcher for the ROS master, parameter server and rosout logging node
After=network.target

[Service]
User=nvidia
ExecStart=/bin/bash -c ". /opt/ros/kinetic/setup.bash; ROS_HOSTNAME=`hostname`.local exec roscore"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
