  
[Unit]
Description=Clever ROS package
Requires=roscore.service
After=network.target

[Service]
User=nvidia
ExecStart=/bin/bash -c ". /opt/ros/kinetic/setup.bash; \
                      ROS_HOSTNAME=`hostname`.local exec roslaunch xsens_driver xsens_driver.launch --wait --screen --skip-log-check"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
